<h1>But we're not always biased. Stay tuned... some non-bias weather predictions coming up next.</h1>
<p class="test-it">Weather data NYC:</p>

<ul>
  {% for item in weather_var %}
    <li>
      {{ item }}
    </li>
  {% endfor %}
</ul>